name: Standard Ruby

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    steps:
    - name: Standard Ruby
      uses: standardrb/standard-ruby-action@v1
      with:
        auto-fix: false
